VAIDEHI SHENDE D1-24 PRACTICAL 2

In [1]:
import numpy as np
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv('titanic.csv')

In [2]:
# convergence
# loop and epoch difference
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
df['Sex'] = df['Sex'].map({'female': 0, 'male': 1})

In [4]:
df.dropna(axis=0, inplace=True)

In [5]:
columns_to_drop = ['PassengerId', 'Name', 'Ticket', 'Cabin']
df.drop(columns=columns_to_drop, inplace=True)

In [6]:
columns_to_drop = ['Pclass', 'SibSp', 'Parch', 'Fare']
df.drop(columns=columns_to_drop, inplace=True)

In [7]:
columns_to_drop = ['Embarked']
df.drop(columns=columns_to_drop, inplace=True)

In [8]:
df

     Survived  Sex   Age
1           1    0  38.0
3           1    0  35.0
6           0    1  54.0
10          1    0   4.0
11          1    0  58.0
..        ...  ...   ...
871         1    0  47.0
872         0    1  33.0
879         1    0  56.0
887         1    0  19.0
889         1    1  26.0

[183 rows x 3 columns]

In [9]:
from sklearn.model_selection import train_test_split,GridSearchCV

In [10]:
X = df.drop('Survived', axis=1)
y = df['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [11]:
# if x has two column sthen w must have two columns

In [12]:
X.shape

(183, 2)

In [13]:
y

1      1
3      1
6      0
10     1
11     1
      ..
871    1
872    0
879    1
887    1
889    1
Name: Survived, Length: 183, dtype: int64

In [14]:
y.shape

(183,)

In [15]:
class perceptron:
    def __init__(self,learning_rate,epochs):
        self.weights = None
        self.bias = None
        self.learning_rate = learning_rate
        self.epochs = epochs
    def activation(self,z):
#         if else loop instedd of heaviside
        return np.heaviside(z,0)
    def fit(self,X,y):
        n_samples, n_features = X.shape
        self.weights = np.zeros(n_features)
        self.bias = 0
        for epoch in range(self.epochs):
            for i in range(n_samples):
                z = np.dot(X.iloc[i], self.weights) +self.bias
                y_pred = self.activation(z)
#                 print(X.iloc[i].shape)
#                 print(y.iloc[i].shape)
#                 print(y_pred.shape)
#                 one of the functions defined in the Pandas module that helps us to select a specific row or column from the data set. Using the iloc() function in python, we can easily retrieve any particular value from a row or column using index values.
                self.weights += self.learning_rate * (y.iloc[i]-y_pred) * X.iloc[i]
                self.bias += self.learning_rate * (y.iloc[i]-y_pred)  
        print(self.weights.shape)
        
    def predict(self,X):
        z = np.dot(X,self.weights) + self.bias
        return self.activation(z)

#titanic fit

In [16]:
perceptron = perceptron(0.01,20)
perceptron.fit(X_train,y_train)
pred = perceptron.predict(X_test)
# perceptron is the object of the class
from sklearn.metrics import accuracy_score

accuracy_score(y_test,pred)

(2,)

0.5636363636363636

In [17]:
from sklearn.metrics import classification_report
report = classification_report(y_test,pred)
print(report)

              precision    recall  f1-score   support

           0       0.45      0.95      0.61        20
           1       0.92      0.34      0.50        35

    accuracy                           0.56        55
   macro avg       0.69      0.65      0.56        55
weighted avg       0.75      0.56      0.54        55

GridSearchCV

In [18]:
from sklearn.metrics import accuracy_score

In [19]:
from sklearn.base import BaseEstimator, ClassifierMixin
from sklearn.linear_model import Perceptron

class MyPerceptron(BaseEstimator, ClassifierMixin):
    def __init__(self, alpha=0.0001, max_iter=100):
        self.alpha = alpha
        self.max_iter = max_iter
        self.perceptron = Perceptron(alpha=self.alpha, max_iter=self.max_iter)
    
    def fit(self, X, y):
        self.perceptron.fit(X, y)
        return self
    
    def predict(self, X):
        return self.perceptron.predict(X)
    
    def score(self, X, y):
        return self.perceptron.score(X, y)

In [20]:
from sklearn.model_selection import GridSearchCV

param_grid = {'alpha': [0.0001, 0.001, 0.01, 0.1, 1.0], 'max_iter': [10, 50, 100, 200, 500]}
grid_search = GridSearchCV(MyPerceptron(), param_grid, cv=5, scoring='accuracy')
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=MyPerceptron(),
             param_grid={'alpha': [0.0001, 0.001, 0.01, 0.1, 1.0],
                         'max_iter': [10, 50, 100, 200, 500]},
             scoring='accuracy')

In [21]:
best_params = grid_search.best_params_
best_score = grid_search.best_score_

print("Best parameters:", best_params)
print("Best score:", best_score)

Best parameters: {'alpha': 0.0001, 'max_iter': 10}
Best score: 0.45876923076923076

In [22]:
best_perceptron = MyPerceptron(alpha=best_params['alpha'], max_iter=best_params['max_iter'])
best_perceptron.fit(X_train, y_train)
y_pred = best_perceptron.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.6